<!DOCTYPE html>
<html>

<head>
    <title>Imagination beyond the earth</title>
    <link href="icon.png" rel="icon">
    <link href="mainstyle.css" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body class="bg-black">
    <!--Header-->
    <div class="flex justify-between content-center bg-yellow-100 py-4">
        <!--Left navigator-->
        <div class="flex justify-start items-center mx-4">
            <div class="w-19 h-12 px-5 flex items-center justify-center">
                <button class="transform scale-150">
                    <img class="w-15 h-10" src="images/topbaricon.png">
                </button>
            </div>
        </div>
        <!--Mid profile-->
        <div class="flex justify-center items-center mx-4">
            <!--Search bar-->
            <div>
                <p class="px-0 text-center text-5xl font-bold antialiased text-yellow-900">
                    Creative Park Gallery
                </p>
                <p class="px-0 text-center text-2xl text-yellow-800">
                    the place where builders share their creations.
                </p>
            </div>
        </div>
        <!--Right navigator-->
        <div class="flex justify-end content-center items-center mx-4">
            <!--Apps Icon-->
            <div class="w-12 h-12 flex items-center justify-center transform transition duration-500 hover:scale-150">
                <a href="" class="material-icons hover:rotate-6">
                    apps
                </a>
            </div>
        </div>
    </div>

    <!--A center display picture-->
    <div id="gallery" class="">

    <!--Presentation Mode-->
    <div v-show="enteredPresentationMode" class="presentingStyle w-screen flex max-w-full">
        <!--Image Presentation-->
        <div class="flex justify-center">
            <img v-bind:src="currentPresentationhref" class="margin-auto">
        
        <!--Previous and next button-->
        <div class="flex justify-center items-stretch content-center absolute bottom-0 w-full bg-black bg-opacity-75">
            <button class="w-1/5 p-3 bg-red-500 text-xl text-white m-3 rounded bg-opacity-25" @click="leavePresentationMode">End presentation</button>
            <div class="flex justify-center self-center w-1/2">
                <button class="w-1/5 p-3 bg-yellow-100 text-xl text-white m-3 rounded bg-opacity-25" @click="goToThePreviousPicture" id="goingBack">Previous</button>
                <button class="w-1/5 p-3 bg-yellow-100 text-xl text-white m-3 rounded bg-opacity-25" @click="goToTheNextPicture" id="goingNext">next</button>
            </div>
            <p class="w-3/5 p-5 text-white text-3xl bg-yellow-100 bg-opacity-25">{{imagesdata[currentPresentationIndex].imgtitle}}</p>
        </div>
    </div>
    </div>

    <div class="relative" v-show="!enteredPresentationMode">
        <img v-bind:src="userInfo.mainimghref" class="h-auto">
        <div class="absolute left-0 top-0 flex flex-wrap w-182 bg-yellow-100 text-yellow-900 bg-opacity-75">
            <img class="h-32 w-32" v-bind:src="userInfo.profilehref">
            <div class="flex flex-col">
                <p class="text-5xl px-5 font-bold">{{userInfo.diaplayname}}</p>
                <p class="text-2xl px-1 font-light">{{userInfo.displayquote}}</p>
                <div class="flex flex-wrap">
                    <button v-show="!userInfo.followedbyyou" v-on:click="clickfollowedbyyou()"
                        class="mx-2 px-2 w-24 bg-green-500 text-white  py-1 px-2 rounded bg-opacity-25">Follow</button>
                    <button v-show="userInfo.followedbyyou" v-on:click="clickfollowedbyyou()"
                        class="mx-2  px-2 w-24 bg-red-500 text-white  py-1 px-2 rounded bg-opacity-25">Unfollow</button>
                    <p class="text-xl px-1 font-light text-black">followed by {{userInfo.displayfollowed}} people</p>
                    <p v-show="userInfo.followedbyyou" class="text-xl px-1 font-light font-light">( Including you )</p>
                </div>
            </div>
        </div>
    </div>


    <!--A user gallery-->
    <div class="bg-gray-900" v-show="!enteredPresentationMode">
        <div id="" class="mx-40 bg-yellow-100 bg-opacity-75">
            <!--Header-->
            <div class="py-5 text-center" id="mainsectorheader">
                <p class="text-5xl text-yellow-900 font-bold"> {{gallerytitle}} </p>
                <p class="text-2xl text-yellow-900 font-bold">{{sectordisplayname}}'s gallery</p>
                <div class="flex justify-center">
                <div class="w-2/5 content-center bg-opacity-25 bg-yellow-100 my-2 px-4 flex justify-center items-center text-1xl text-yellow-900 hover:bg-opacity-75 transition duration-500">
                        <input v-model="gatherInput" class="p-1.5 bg-yellow-100 bg-opacity-25 rounded flex-1 border-2 border-yellow-900" type="search" v-show="searchBarOn" @keyup.enter="searchByTitle" placeholder="Search...">
                        <span class="p-3 material-icons transform hover:scale-150" @click="searchByTitle">
                            search
                        </span>
                        <button v-show="!toggleresettext" class="w-4/5 font-bold bg-yellow-200 py-1 px-2 rounded bg-opacity-50" @click="searchByTitle">Search by title</button>
                        <button v-show="toggleresettext" class="w-2/5 font-bold text-red-700 bg-red-200 py-1 px-2 rounded bg-opacity-50" @click="closeandclearsearch">Cancle / Undo search</button>
                </div>
            </div>
        </div>

            <!--User gallery display sector-->
            <div class="flex flex-col relative">
                <div class="" v-show="showNotFound">
                    <img class="p-5 bg-gray-900 bg-opacity-25" v-bind:src="notFoundimghref">
                </div>

                <!--Image preview slots-->
                <div class="" v-for="(image,index) in imagesdata">
                    <div v-show="image.resuleMatch">
                        <!--You can now click on the picture to show the picture in presentation mode.-->
                        <div class="absolute p-5"  v-show="imagesdata[index].rowNotificationOn">
                            <p class="text-4xl font-bold text-yellow-900 p-5 bg-opacity-25 bg-yellow-200" @click="enterPresentationModeWithCurrentPicture(index)"> Click for picture presentration.</p>
                        </div>
                    <!--Hover on an image and the motification will appear.-->
                    <img class="p-5 bg-gray-900 bg-opacity-25" v-bind:src="image.imghref" @click="enterPresentationModeWithCurrentPicture(index)" @mouseover="hoverAndGetNotifyPresentationMode(index)" @mouseleave="mouseLeaveAndNotificationGone(index)">
                    

                    <p class=" p-5 text-4xl text-yellow-900 font-bold">{{image.imgtitle}}</p>
                    <div class="flex flex-wrap py-5">
                        <p class="px-10 text-2xl text-yellow-900 px-5 w-2/3">{{image.imgdescription}}</p>
                        <!--<img class="w-1/5" v-bind:src="image.profilehref">-->

                        <div class="items-center w-1/3">
                            <button v-show="image.isliked" v-on:click="likeThisPicture(index)"
                                class="bg-yellow-900 bg-opacity-25 text-white  py-1 px-2 rounded w-4/5">Undo vote</button>
                            <button v-show="!image.isliked" v-on:click="likeThisPicture(index)"
                                class="bg-green-500 text-white  py-1 px-2 rounded w-4/5">Vote</button>
                                <p class="text-blue-900 font-bold text-xl">You voted {{imagesdata.filter(liked => liked.isliked).length}} out of {{ imagesdata.length }} pictures in this gallery so far.</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
            
        </div>

        <div id="tail" class="bg-yellow-100" v-show="!enteredPresentationMode">
            <div class="flex flex-col text-center py-5">
                <p class="text-yellow-900 text-3xl">Creative Park Gallery</p>
                <p class="text-yellow-900 text-xl">By 62130500032 Thanaphat Dararat</p>
            </div>
        </div>
    </div>

    


    

    <script src="main.js"></script>
</body>

</html>